<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <title>연세대 먼지센서</title>
</head>
<body>
  <%- body %>
</body>
</html>
